apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: it-ui-ingress
  namespace: it-ui
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: ui.sikshasathi.tech
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ui-service
                port:
                  number: 80
